*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.formulario{

    display: row;
    width: 100%;
    
    justify-content: center;
    align-items: center;

    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    gap:15px;



}

.container{
    display:flex;
    width: 100%;
    align-items:first baseline;
    flex-wrap: wrap;
    /*border: 1px solid lightgray;*/
    gap: 10px;
    margin:10px;

}

.btn{
    margin: 10px;
}
ul{
    width:100%;
    border: 2px solid black;

    padding: 10px;
    list-style: none;

}

.noticia{
    background-color: yellow;
    border: 1px solid lightgreen;
    border-radius: 10px;
    gap: 10px;
    padding: 5px;
    margin-bottom: 10px;

}

/*.titulo{
    font-size: larger;
    font-weight: bold;
}*/



