*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body{
    display: row;
    width: 100%;

    background-color: rgba(240, 248, 255, 0.153);
    
    justify-content: center;
    align-items: center;

    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    gap:15px;
}

.formulario{

    display: row;
    width: 100%;
    
    justify-content: center;
    align-items: center;

    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    gap:15px;



}

.container{
    display:flex;
    width: 100%;
    align-items:first baseline;
    flex-wrap: wrap;
    /*border: 1px solid lightgray;*/
    gap: 10px;
    margin:10px;

}

.btn{
    margin: 10px;
}

.visual{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    justify-content: center;
    align-items: center;

    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    gap:15px;
}


ul{
    width:100%;
    /*border: 2px solid black;*/

    padding: 10px;
    list-style: none;

}

.noticia{
    background-color: rgba(173, 216, 230, 0.479);
    border: 1px solid lightgreen;
    border-radius: 10px;
    gap: 10px;
    padding: 5px;
    margin-bottom: 10px;

}

/*.titulo{
    font-size: larger;
    font-weight: bold;
}*/



