*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


body{
    display: flex;
    flex-direction: row;
    width: 100%;
    

    background:#f5f7fb;
    /*background-color: rgba(240, 248, 255, 0.829);
    
    /*justify-content:flex-start;*/
    align-items:flex-start;

    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    gap:15px;
}

.formulario{

    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    
    justify-content: center;
    align-items: center;

    border: 1px solid lightgray;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    padding: 10px;
    border-radius: 10px;
    gap:15px;



}

/*.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items:first baseline;
    flex-wrap: wrap;
    /*border: 1px solid lightgray;
    gap: 10px;
    margin:10px;

}*/

.container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-bottom:15px;
}

.container div{
    display:flex;
    flex-direction:column;
}

input{
    padding:8px;
    border-radius:6px;
    border:1px solid #ccc;
}

input:focus{
    outline:none;
    border-color:#4a90e2;
}

.btn{
    padding:10px 20px;
    border:none;
    background:#4392ecbf;
    color:white;
    border-radius:6px;
    cursor:pointer;
    transition: all 0.25s ease;
}

.btn:hover{
    background:#2f6fc0;
    transform: translateY(-2px);
    box-shadow:0 6px 12px rgba(0,0,0,0.15);

}

.visual{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    justify-content: center;
    align-items: center;

    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    gap:15px;
}


ul{
    width:100%;
    /*border: 2px solid black;*/
    padding: 10px;
    list-style: none;

}

.noticia{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(173, 216, 230, 0.479);
    
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow:0 4px 10px rgba(21, 16, 94, 0.811);
    transition:0.2s;
    cursor: pointer;
}

.noticia:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 18px rgba(0,0,0,0.15);
}

.noticia img{
    width:100%;
    height:180px;
    object-fit:cover;
}

/*.titulo{
    font-size: larger;
    font-weight: bold;
}*/

.titulo{
    padding:10px 15px 0;
}

.descripcion{
    padding:10px 15px;
    color:#282828;
}

.fecha{
    padding:0 15px 15px;
    font-size:14px;
    color:#888;
}

@media (max-width: 900px){

body{
    flex-direction: column;
}

}

